{% extends "base/base.html" %}

{% block title %}Supreme Cycle And Rickshaw Co.{% endblock title %}

{% block body %}
<div class="bg-white" id="quick-items">
    <div class="container mt-1">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-4 text-center">
                <img class="" alt="mtb" src="https://rukminim1.flixcart.com/image/128/128/xif0q/cycle/b/g/d/ranger-ibc-wheel-size-26-front-suspension-power-brake-26-17-hero-original-imaghhbuzdftvajk.jpeg" width="100vw" height="100vh" />
                <p class="resizable-text">MTB Cycle</p>
            </div>
            <div class="col-md-2 col-sm-4 col-4 text-center">
                <img class="" alt="mtb" src="https://rukminim1.flixcart.com/image/612/612/l5ld8y80/cycle/h/b/a/kiddo-14-cycle-for-kids-bicycles-age-3-to-5-year-boys-girls-14-9-original-imagg8brhwnzghmt.jpeg?q=70" width="100vw" height="100vh" />
                <p class="resizable-text">Kids Cycle</p>
            </div>
            <div class="col-md-2 col-sm-4 col-4 text-center">
                <img class="" alt="mtb" src="https://rukminim1.flixcart.com/image/612/612/kskotjk0/cycle/b/y/a/lady-bird-evita-24-15-bsa-76-single-speed-original-imag64829ygqyctd.jpeg" width="100vw" height="100vh" />
                <p class="resizable-text">Ladies Cycle</p>
            </div>
            <div class="col-md-2 col-sm-4 col-4 text-center">
                <img class="" alt="mtb" src="https://rukminim1.flixcart.com/image/612/612/l0mr7gw0/cycle/o/t/4/chord-27-5-17-montra-21-gear-74-original-imagcdmtgabtbqrf.jpeg?q=70" width="100vw" height="100vh" />
                <p class="resizable-text">Gear Cycle</p>
            </div>
            <div class="col-md-2 col-sm-4 col-4 text-center">
                <img class="" alt="mtb" src="https://rukminim1.flixcart.com/image/612/612/kvwpt3k0/electric-ride-on/h/c/e/gallery-classic-happy-birthday-baby-tricycle-ride-on-bicycle-for-original-imag8pdk6fbtgfez.jpeg?q=70" width="100vw" height="100vh" />
                <p class="resizable-text">Tricycle</p>
            </div>
            <div class="col-md-2 col-sm-4 col-4 text-center">
                <img class="" alt="mtb" src="https://rukminim1.flixcart.com/image/612/612/xif0q/light/i/b/2/bicycle-light-usb-led-rechargeable-bike-front-back-headlight-original-imagnqewh5fskbcf.jpeg?q=70" width="100vw" height="100vh" />
                <p class="resizable-text">Accessories</p>
            </div>
        </div>

    </div>
</div>

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://rukminim1.flixcart.com/image/612/612/xif0q/light/i/b/2/bicycle-light-usb-led-rechargeable-bike-front-back-headlight-original-imagnqewh5fskbcf.jpeg?q=70" width="100%" height="400vh" alt="Los Angeles">
      </div>
      <div class="carousel-item">
        <img src="https://rukminim1.flixcart.com/image/612/612/kskotjk0/cycle/b/y/a/lady-bird-evita-24-15-bsa-76-single-speed-original-imag64829ygqyctd.jpeg" width="100%" height="400vh" alt="Chicago">
      </div>
      <div class="carousel-item">
        <img src="https://rukminim1.flixcart.com/image/612/612/l5ld8y80/cycle/h/b/a/kiddo-14-cycle-for-kids-bicycles-age-3-to-5-year-boys-girls-14-9-original-imagg8brhwnzghmt.jpeg?q=70" width="100%" height="400vh" alt="New York">
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>

{% endblock body %}