<nav class="navbar parent-navbar navbar-expand-lg navbar-dark bg-pink">
    <a class="navbar-brand" href="/">SCRC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse font-weight-bold" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/stocks/addproduct">Kids Cycle</a>
            <a class="dropdown-item" href="/stocks/addproduct">Men Cycle</a>
            <a class="dropdown-item" href="/stocks/addproduct">Women Cycle</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Brands
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/stocks/addproduct">BSA</a>
              <a class="dropdown-item" href="/stocks/addproduct">Hero</a>
              <a class="dropdown-item" href="/stocks/addproduct">Hercules</a>
              <a class="dropdown-item" href="/stocks/addproduct">Tuvox  </a>
              <a class="dropdown-item" href="/stocks/addproduct">Generic</a>

          </div>
        </li>
      </ul>
      <div class="justify-content-md-center mr-auto">
        <form class="form-inline my-2 my-lg-0 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="search your product..." aria-label="Search" style="width: 600px;">
            <a href="#" class="btn btn-primary btn-md active" role="button" aria-pressed="true">
                <i class="fa fa-search" aria-hidden="true"></i>
            </a>
        </form>
    </div>
    <div class="justify-content-md-center ml-auto">
        <a href="#" class="btn btn-primary btn-md active" role="button" aria-pressed="true"><i class='bi bi-cart-dash'></i></a>
          <a href="#" id="account-popover" class="btn btn-primary btn-md active mx-2" role="button" aria-pressed="true" data-toggle="popover" data-placement="bottom" >
            <i class="fa fa-user" aria-hidden="true"></i>
        </a>
    </div>
    </div>

  </nav>